@import "mixins/button";
@import "mixins/mixins.scss";
@import "mixins/utils.scss";

@include b(button) {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background-color: $--button-default-background-color;
    border: $--border-base;
    border-color: $--button-default-border-color;
    color: $--button-default-font-color;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: $--font-weight-primary;
    @include utils-user-select(none);
    & + & {
        margin-left: 10px;
    }
    @include button-size($--button-padding-vertical, $--button-padding-horizontal, $--button-font-size, $--button-border-radius);
    &:hover,
    &:focus {
        color: $--color-primary;
        border-color: $--color-primary-light-7;
        background-color: $--color-primary-light-9;
    }
    &:active {
        color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
        border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
        outline: none;
    }
    &::-moz-focus-inner {
        border: 0;
    }


    @include when(plain) {
        &:hover,
        &:focus {
            background: $--color-white;
            border-color: $--color-primary;
            color: $--color-primary;
        }
        &:active {
            background: $--color-white;
            border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
            color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
            outline: none;
        }
    }
    @include when(active) {
        border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
        color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    }
    @include when(disabled) {
        &,
        &:hover,
        &:focus {
            color: $--button-disabled-font-color;
            cursor: not-allowed;
            background-image: none;
            background-color: $--button-disabled-background-color;
            border-color: $--button-disabled-border-color;
        }
        &.zn_button--text {
            background-color: transparent;
        }
        &.is-plain {
            &,
            &:hover,
            &:focus {
                background-color: $--color-white;
                border-color: $--button-disabled-border-color;
                color: $--button-disabled-font-color;
            }
        }
    }
    @include when(loading) {
        position: relative;
        pointer-events: none;
        &:before {
            pointer-events: none;
            content: '';
            position: absolute;
            left: -1px;
            top: -1px;
            right: -1px;
            bottom: -1px;
            border-radius: inherit;
            background-color: rgba(255, 255, 255, .35);
        }
    }
    @include when(round) {
        border-radius: 20px;
        padding: 12px 23px;
    }
    @include when(circle) {
        border-radius: 50%;
        padding: $--button-padding-vertical;
    }
    @include m(primary) {
        @include  button-variant($--button-primary-font-color, $--button-primary-background-color, $--button-primary-border-color);
    }
}